@font-face {
   font-family: montserrat;
   src: url('fonts/Montserrat-Regular.ttf');
}

body {
   background-color: #e0f0ff;
   color: #303030;
   font-family: montserrat;
   margin: 0;
   padding: 0;
}

main {
   padding: 20px;
   background-color: white;
}

div {
   color: #303030;
}

h1, h2 {
   color: #404080;
}

h1 {
   text-decoration: underline;
}

a {
   font-weight: bold;
   text-decoration: none;
}

a:hover {
   color: #008000;
}

li {
   padding-bottom: 20px;
}

.section {
   margin-left: 13px;
   margin-right: 13px;
}

.section img.photo {
   border-radius: 200px;
   border: solid 10px #e0f0ff;
   width: 250px;
}

.experience {
   padding: 20px;
   border-radius: 25px;
   border: solid 3px #e0f0ff;
   margin-bottom: 20px;
}

.experience.current {
   background-color: #fffff0;
}

.position {
   border-bottom: solid 3px #e0f0ff;
   color: #404080;
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 10px;
   margin: 0 0 10px 0;
   padding: 5px 0 5px 0;
   text-transform: uppercase;
   width: 75%;
}

/* mobile  */

@media screen and (max-width: 1599px) {

   .section.photo {
      text-align: center;
   }

   .section.name {
      text-align: center;
   }

}

/* desktop */

@media screen and (min-width: 1600px) {

   body {
      margin-left: 400px;
      margin-right: 400px;
   }

   .section.photo {
      float: right;
   }

}
